Resource parameter validation doesn't allow paths

When a token is requested and a `resource` parameter is supplied the URL could look like `https://example.test/path-here`. The library allows this and even returns the URL (including path) in the `resource` parameter of the token response.  However, when the token is used, the library dictates that the `resource` (or `audience`) value must be simply the protocol + host (i.e. no path is allowed).

This seems to conflict with [RFC 8707 Section 2](https://www.rfc-editor.org/rfc/rfc8707.html#name-resource-parameter):

> The client SHOULD provide the most specific URI that it can for the complete API or set of resources it intends to access. In practice, a client will know a base URI for the application or resource that it interacts with, which is appropriate to use as the value of the resource parameter. The client SHOULD use the base URI of the API as the resource parameter value unless specific knowledge of the resource dictates otherwise. For example, the value https://api.example.com/ would be used for a resource that is the exclusive application on that host; however, if the resource is one of many applications on that host, something like https://api.example.com/app/ would be used as a more specific value.

So while in some cases it's perfectly valid to just use the base URL and not include the path, in other scenarios a server might want to scope the resource to a specific path instead of the entire domain.

These seem to be the two places that need to be changed:
https://github.com/cloudflare/workers-oauth-provider/blob/b2c5877617809107ea4759b22c4994f0711affe4/src/oauth-provider.ts#L2276-L2291

https://github.com/cloudflare/workers-oauth-provider/blob/b2c5877617809107ea4759b22c4994f0711affe4/src/oauth-provider.ts#L2313-L2326